@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: url(./FB_IMG_1493525218304.jpg);
	background-size: cover;
}
.container{
	max-width: 700px;
	width: 100%;
	margin:2rem;
	padding: 25px 30px;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	background: #fff;
	border-radius: 7px; 
}
.container .title{
	font-size: 25px;
	font-weight: 500;
	position: relative;
}
.container .title::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px; 
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .user-details{
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	margin: 20px 0 12px 0;  
}
form .user-details .input-box{
	margin-bottom: 15px;
	width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}
.user-details .input-box input{
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;
	border-bottom-width: 3px;
	transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
	border-color: #9b59b6;
}
form input[type='radio']{
	border-color: #d9d9d9;
	background: #9b59b6;
	height: 18px;
	width: 18px;
	background: #d9d9d9;
	border-radius: 50%;
	margin-right: 10px;
	border: 5px solid transparent;
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
}

form .radio
{
	justify-content: space-evenly;
	display: flex;
	flex-wrap: wrap; 
}
table
{
	justify-content: space-evenly;
	display: flex;
	flex-wrap: wrap;
}
.survey-activities .survey-activities .dot{
	height: 18px;
	width: 18px;
	background: #d9d9d9;
	border-radius: 50%;
	margin-right: 10px;
	border: 5px solid transparent;
	transition: all 0.3s ease;
}
form input[type="radio"]{
padding: 55px;
}
::placeholder{
	font-size: 1rem;
}

form .button{
	height: 45px;
	margin:45px 0;
}
form .button input{
	height: 100%;
	width: 100%;
	outline: none;
	color: #fff;
	border: none;
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	letter-spacing: 1px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6); /*here*/
}
form .button input:hover{
	background: linear-gradient(-135deg, #71b7e6, #9b59b6); /*here*/
}
@media(max-width:584px){
	.container{
		max-width: 100%;
	}
	form .user-details .input-box{
		margin-bottom: 15px;
		width: 100%;
	}
}